:root {
    --color-theme-1: #e5e8ee;
    --color-theme-1-o25: rgb(229, 232, 238, 0.25);
    --color-theme-1-o10: rgb(229, 232, 238, 0.1);
    --color-theme-1-070: rgb(229, 232, 238, 0.7);
    --color-theme-2: #fd4432;
    --color-theme-2-o: rgb(253, 68, 50, 0.75);

    --bcolor-theme-1: #0d0d0d;
    --bg-body-default: #151313;

    --font-family-1: 'JetBrains Mono', monospace;

    --box-shadow-table: rgba(229, 232, 238, 0.1) 0 0.5rem 5rem;
}

::selection {
    color: var(--color-theme-1);
    background: var(--color-theme-2);
}

::-moz-selection {
    color: var(--color-theme-1);
    background: var(--color-theme-2);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--bcolor_theme_2);
}

::-webkit-scrollbar-thumb {
    background: var(--color-theme-2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-theme-2-o);
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    background: var(--bg-body-default);
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-family-1);
    font-weight: 400;
    line-height: 1.4;
    background: rgb(25, 24, 24);
    background: -moz-linear-gradient(165deg, rgba(25, 24, 24, 1) 0%, rgba(21, 19, 19, 1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(25, 24, 24, 1) 0%, rgba(21, 19, 19, 1) 100%);
    background: linear-gradient(165deg, rgba(25, 24, 24, 1) 0%, rgba(21, 19, 19, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191818", endColorstr="#151313", GradientType=1);
}

a {
    text-decoration: none;
}

.language {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    background: #061433;
    box-shadow: rgb(229, 232, 238, 0.35) 0 0 0.2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 3rem;
}

.language .item {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-theme-1);
}

.language .item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.language .item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.language .item.selected {
    background: var(--color-theme-2);
    pointer-events: none;
}

.container {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: rgb(229, 232, 238, 0.35) 0 0 0.2rem;
    background: rgb(6, 20, 51);
    background: -moz-linear-gradient(165deg, rgba(6, 20, 51, 1) 0%, rgba(6, 5, 34, 1) 100%);
    background: -webkit-linear-gradient(165deg, rgba(6, 20, 51, 1) 0%, rgba(6, 5, 34, 1) 100%);
    background: linear-gradient(165deg, rgba(6, 20, 51, 1) 0%, rgba(6, 5, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#061433", endColorstr="#060522", GradientType=1);
}

.container .list_item {
    position: relative;
    padding-left: 1rem;
}

.container .list_item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background: var(--color-theme-2);
    border-radius: 50% 50% 50% 50% / 0% 100% 0% 100%;
}

.container .table {
    box-shadow: var(--box-shadow-table);
    border-radius: 1rem;
}

.container .table .table_row {
    background: var(--bcolor-theme-1);
    display: flex;
    align-items: center;
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--color-theme-1-o25);
}

.container .table .table_row:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.container .table .table_row:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.container .top .right h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-theme-1);
    margin-bottom: 0.5rem;
}

.container .top .right .job_title {
    margin-bottom: 2rem;
}

.container .top .right .job_title h2 {
    font-weight: 600;
    color: var(--color-theme-2);
    opacity: 0.75;
}

.container .top .right .contact .label {
    width: 25%;
    font-size: 0.9rem;
    color: var(--color-theme-1);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-right-width: 0.1rem;
    border-right-style: dotted;
    border-right-color: var(--color-theme-1);
}

.container .top .right .contact .value {
    width: 75%;
    font-size: 0.9rem;
    color: var(--color-theme-1);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container .mid .skill_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.container .mid .skill_row .block {
    width: 30%;
}

.container .mid .block h3 {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--color-theme-2);
    margin-bottom: 1rem;
}

.container .mid .block .item {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-theme-1);
    margin-bottom: 0.5rem;
}

.container .mid .block .item.mb_1 {
    margin-bottom: 1rem !important;
}

.container .mid .block .item_sub {
    margin-top: 0.5rem;
}

.container .mid .block .item_date {
    opacity: 0.7;
}

.container .mid .right .block {
    margin-bottom: 2rem;
}

.container .mid .right .block.mb_0 {
    margin-bottom: 0 !important;
}

.container .mid .right .block .bg_title {
    background: var(--color-theme-1-o10);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.container .mid .right .block .bg_title h3 {
    margin-bottom: 0 !important;
}

.container .mid .right .block .profile_text {
    font-size: 1.1rem;
    color: var(--color-theme-1);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.container .mid .right .collection .collection_row_left {
    width: 85%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-right-width: 0.1rem;
    border-right-style: dotted;
    border-right-color: var(--color-theme-1);
}

.container .mid .right .collection .collection_row_left .name {
    font-size: 1.4rem;
    color: var(--color-theme-1);
    margin-bottom: 0.5rem;
}

.container .mid .right .collection .collection_row_left .description {
    font-size: 1rem;
    color: var(--color-theme-1);
    opacity: 0.7;
    margin-bottom: 0.5rem;
}

.container .mid .right .collection .collection_row_left .link {
    font-size: 1rem;
    color: var(--color-theme-2);
    opacity: 0.75;
}

.container .mid .right .collection .collection_row_right {
    width: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .mid .right .collection .collection_row_right .date {
    font-size: 1rem;
    color: var(--color-theme-1);
}

.container .mid .right .collection .table_column {
    background: var(--bcolor-theme-1);
    border-width: 0.1rem;
    border-style: solid;
    border-color: var(--color-theme-1-o25);
}

.container .mid .right .collection .table_column:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.container .mid .right .collection .table_column:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.container .mid .right .collection .experience_top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: var(--color-theme-1-o25);
}

.container .mid .right .collection .experience_top .experience_logo {
    width: 10%;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
}

.container .mid .right .collection .experience_top .experience_logo img {
    width: 100%;
    border-radius: 1rem;
}

.container .mid .right .collection .experience_top .experience_content {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container .mid .right .collection .experience_top .experience_content .title {
    font-size: 1.2rem;
    color: var(--color-theme-1);
}

.container .mid .right .collection .experience_top .experience_content .name {
    font-size: 1.1rem;
    color: var(--color-theme-1);
}

.container .mid .right .collection .experience_top .experience_date {
    width: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--color-theme-1);
    opacity: 0.7;
    text-align: right;
}

.container .mid .right .collection .experience_bottom {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container .mid .right .collection .experience_bottom p {
    font-size: 1.1rem;
    color: var(--color-theme-1-070);
    margin-bottom: 0.5rem;
}

.container .mid .right .collection .experience_bottom .mt {
    margin-top: 1.5rem;
}

.container .mid .right .collection .experience_bottom .strong {
    color: var(--color-theme-1);
}

.theme {
    color: var(--color-theme-2) !important;
}

@media only screen and (max-width: 1200px) {
    .print {
        display: none;
    }

    .container .top {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .top .middle {
        display: none;
    }

    .container .top .left {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .container .top .left img {
        width: 40%;
        border-radius: 1rem;
    }

    .container .top .right h1 {
        text-align: center;
    }

    .container .top .right .job_title h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    .container .mid .left {
        margin-top: 5rem;
    }

    .container .mid .middle {
        display: none;
    }

    .container .table.contact {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .container .mid .skill_row {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .container .mid .mobile_skill_row {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .container .top .right .job_title h2 {
        font-size: 1.4rem;
    }

    .container .mid .right .collection .collection_row_left .name {
        font-size: 1.2rem;
    }

    .container .mid .right .collection .collection_row_left .description {
        font-size: 0.8rem;
    }

    .container .mid .right .collection .collection_row_right .date {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 576px) {
    .container .top .left img {
        width: 50%;
        border-radius: 1rem;
    }

    .container .mid .right .collection .experience_top .experience_logo {
        width: 20%;
    }
    
    .container .mid .right .collection .experience_top .experience_content {
        width: 80%;
    }
    
    .container .mid .right .collection .experience_top .experience_date {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .container .table.contact {
        width: 100%;
    }

    .container .mid .skill_row {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .container .mid .mobile_skill_row {
        width: auto;
        margin-left: 1rem;
        margin-bottom: 5rem;
    }

    .container .mid .block h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1201px) {
    .print {
        position: absolute;
        top: 1rem;
        right: calc(5% + 2rem);
        background: #061433;
        box-shadow: rgb(229, 232, 238, 0.35) 0 0 0.2rem;
        width: 5%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-theme-1);
        cursor: pointer;
    }

    .language {
        width: 5%;
    }

    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .container .table {
        margin-left: 2rem;
    }

    .container .top {
        display: flex;
    }

    .container .top .left {
        width: 25%;
    }

    .container .top .middle {
        width: calc(5% - 2rem);
        margin-left: 2rem;
        background: var(--color-theme-1-o10);
    }

    .container .top .right {
        width: 70%;
    }

    .container .top .left img {
        width: 100%;
        border-radius: 1rem;
    }

    .container .top .right h1 {
        font-size: 4.5rem;
        margin-left: 2rem;
    }

    .container .top .right .job_title {
        background: var(--color-theme-1-o10);
        padding-left: 2rem;
        margin-bottom: 2rem;
    }

    .container .top .right .job_title h2 {
        font-size: 2.5rem;
    }

    .container .top .right .contact .label {
        font-size: 1.2rem;
    }

    .container .top .right .contact .value {
        font-size: 1.2rem;
    }

    .container .mid {
        display: flex;
    }

    .container .mid .left {
        width: 25%;
        margin-top: 5rem;
    }

    .container .mid .skill_row .block {
        width: 45%;
    }

    .container .mid .middle {
        width: calc(5% - 2rem);
        margin-left: 2rem;
        background: var(--color-theme-1-o10);
    }

    .container .mid .right {
        width: 70%;
        margin-top: 5rem;
    }

    .container .mid .right .block .bg_title {
        padding-left: 2rem;
    }

    .container .mid .right .block .profile_text {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 12px;
    }

    .container {
        width: 70%;
    }
}

@media only screen and (min-width: 1680px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 2050px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 2400px) {
    html {
        font-size: 18px;
    }
}