:root {
    --font-family-primary: 'Inter Tight', sans-serif;
    --color-primary-dark: #000000;
    --bg-primary-dark: #000000;
    --color-primary-light: #ffffff;
    --bg-primary-light: #ffffff;
    --color-primary-theme: #6466ec;
    --color-secondary-theme: #ca0101;
    --box-shadow-primary: 0px 4px 12px rgb(0 0 0 / 12%), 0px 0px 2px rgb(0 0 0 / 8%);
}

::selection {
    color: var(--color-primary-light);
    background-color: var(--color-secondary-theme);
}

::-moz-selection {
    color: var(--color-primary-light);
    background-color: var(--color-secondary-theme);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg-primary-light);
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--color-primary-dark);
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family-primary);
    color: var(--color-primary-dark);
    background-color: var(--bg-primary-dark);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* width: 595px;
    height: 842px; */
    background-color: var(--bg-primary-dark);
}

.container .row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/* Column Left */
.container .row .column-left {
    min-height: 100vh;
    flex-basis: 100%;
    background-color: #f4f6f8;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.profile-photo {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: var(--bg-primary-light);
    padding: 1.5rem;
    box-shadow: var(--box-shadow-primary);
}

.title-sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary-dark);
    padding-bottom: 1rem;
    letter-spacing: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-primary-dark);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.contact-wrapper {
    display: flex;
}

.contact-wrapper .row-contact {
    display: flex;
    flex-direction: column;
}

.contact-wrapper .row-contact .label {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.contact-wrapper .row-contact .text {
    font-size: 1.6rem;
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
}

.contact-wrapper .row-contact .text.link {
    color: var(--color-primary-theme) !important;
}

.list-item {
    position: relative;
    display: block;
    font-size: 1.6rem;
    color: var(--color-primary-dark);
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.list-item::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background-color: var(--bg-primary-dark);
    border-radius: 50%;
}

.list-item .link {
    color: var(--color-primary-theme) !important;
}


.list-item .bold {
    font-weight: 600;
    margin-right: 0.5rem;
}

.list-item .small {
    font-size: 1.4rem !important;
}

/* Column Right */
.container .row .column-right {
    min-height: 100vh;
    flex-basis: 100%;
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.column-right .column-top {
    width: 100%;
    height: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
    text-align: center;
}

.job-title {
    display: block;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: var(--color-primary-dark);
    opacity: 0.7;
    text-align: center;
}

.column-right .column-bot {
    padding-right: 1rem;
    padding-left: 1rem;
}

.profile {
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
    .container {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .container .row {
        flex-direction: row;
    }

    .container .row .column-left {
        flex-basis: 30%;
    }

    .container .row .column-right {
        flex-basis: 70%;
    }

    .column-right .column-top {
        height: 200px;
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .column-right .column-bot {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .profile-photo {
        height: 200px;
        width: 200px;
    }

    .name {
        font-size: 7rem;
        text-align: left;
    }

    .job-title {
        font-size: 2rem;
        text-align: left;
    }
}

@media only screen and (min-width: 1680px) {
    html {
        font-size: 13px;
    }
}